@import "../../constants/styleConstants.scss";

.create-question-page {
    padding: 8px;

    .header {
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 4px;

        border-bottom: $border-light;

        .back-button {
            @include centered;

            color: $black-200;
            font-size: 1.4rem;
        }

        .title {
            margin: 0 auto;
            font-weight: 600;
        }
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        margin-top: 16px;

        .action-button {
            margin: 0;
        }

        &.first {
            justify-content: flex-end;
        }
    }

    .spinner {
        margin-left: 8px;
    }

    .error {
        margin: 10px;

        color: rgb(255, 124, 124);
        font-size: 0.9rem;
    }

    .prompt-section {
        margin: 12px 0;
        border-bottom: $border-light;
        border-top: $border-light;
        padding: 8px 0;
    }
}
