@import "../../constants/styleConstants.scss";

.password-container {
    @include page-standard;
    margin-bottom: 12px;
    padding: 8px;

    border-radius: 8px;
    border: $border-normal;

    .msg {
        align-items: center;
        text-align: center;
    }
}
