@import "../constants/styleConstants.scss";

.confirmation-dialog {
    width: 80%;
}

.confirmation-dialog-message {
    margin-bottom: 20px;
    font-size: 16px;
}

.confirmation-dialog-actions {
    display: flex;
    justify-content: flex-end;

    .confirm-button,
    .cancel-button {
        padding: 10px 20px;
        margin-left: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .confirm-button {
        background-color: $theme-color;
        color: white;
    }

    .cancel-button {
        background-color: $grey-300;
        color: white;
    }
}
