@import "../constants/styleConstants.scss";

.floating-add-button {
    position: fixed;
    bottom: 16px;
    right: 8px;
    width: 3.5rem;
    height: 3.5rem;
    background-color: $theme-color-dark;
    border: none;
    border-radius: 50%;
    color: white;
    @include centered;
    font-size: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;

    &:active {
        background-color: $theme-color-dark-50; // Adjust the active color as needed
    }
}
