@import "../constants/styleConstants.scss";

.persona {
    display: flex;
    align-items: center;
    overflow: hidden;

    &.actionable {
        cursor: pointer;
    }

    .persona-icon {
        font-size: 2.8rem;
        color: $theme-color;
        margin-right: 4px;
    }

    .persona-info {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .persona-title {
            font-weight: 400;
            font-size: 1.2rem;
            font-family: $font-3;
            @include ellipsis;
        }

        .persona-subtitle {
            font-size: 0.7rem;
            color: $grey-600;
            max-width: 100%;
            @include ellipsis;
        }
    }
}
